<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Galeria</a></li>
                <li><a href="">Tabla</a></li>
                <li><a href="../hola_mundo.html">Google</a></li>
            </ul>
        </nav>
    </header>
        <main>
            <section>
                    <div>
                    <h1>Titulo 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, nesciunt deserunt. Eaque harum eos pariatur. Eaque, facilis. Magnam illum nesciunt fuga! Amet, ipsum distinctio. Consectetur, veritatis repudiandae libero vel voluptates facilis explicabo eligendi ea nisi quasi vero neque repellendus? Beatae odit amet ab sed, sit tempora possimus doloribus nostrum nihil
                        incidunt impedit est suscipit iusto vitae ut molestiae quas harum repellat eligendi.
                        Inventore, nemo maxime voluptatibus quidem iure quae amet labore eveniet laudantium molestiae ullam corrupti iusto facilis quo optio facere voluptatem, 
                        ducimus veritatis error ipsam? Ut alias omnis eius itaque voluptate ratione nesciunt similique vitae. Voluptate voluptatem mollitia magnam.</p>
                    </div>
                    <div>
                    <img src="./img/images.jpg" alt="">
            </div>
            </section>

                <section>
                    <h1>Titulo 2</h1>
                    <p><mark>Lorem ipsum dolor sit amet consectetur  adipisicing elit. <strong> Voluptatibus sed
                            fugiat facere</strong> magni cupiditate sunt cum esse, ratione rerum laboriosam id nam
                        tempora, exercitationem <i>laborum eaque optio deleniti accusamus et?</i></mark></p>
                    <br>
                    <h1>Titulo 2</h1>
                    <h3>Subtitulo -Lorem ipsum dolor sit amet <b>consectetur adipisicing elit.</b> Asperiores similique consectetur
                        pariatur <u>necessitatibus</u> quaerat, eligendi in dolore eveniet architecto amet, tempore sunt
                        facilis explicabo iusto at impedit sequi sit. Libero.</h3>
                </section>
            </section>
        </main>

    <footer>

    </footer>
</body>

</html>