<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="./tabla.html">Tabla</a></li>
                <li><a href="./lista.html">Lista</a></li>
                <li><a href="https://www.google.com">Google</a></li>
                <li><a href="#imagen" >Perrito</a></li>
            </ul>
        </nav>
    </header>
    <main>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <section>
            <div>
                <img src="../img/perro.jpg" alt="perrito">
                <h2>Perrito</h2>
                <a href="../img/perro.jpg" name="imagen" >Abrir imagen en nueva ventana</a>
                <a href="../img/perro.jpg" download="#">Descargar img del perrito</a>
                <a href="../img/perro.jpg" download="../img/perro.pdf">Descargar en PDF</a>
                <a href="mailito:giani.franquini@gmail.com">Enviar correo</a>
                
            </div>
        </section>

    </main>

    <footer></footer>
</body>

</html>