<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galeria</a></li>
                <li><a href="./tabla.html">Tabla</a></li>
                <li><a href="#">Lista</a></li>
                <li><a href="https://www.google.com/search?q=google&oq=googl&gs_lcrp=EgZjaHJvbWUqEAgAEAAYgwEY4wIYsQMYgAQyEAgAEAAYgwEY4wIYsQMYgAQyEwgBEC4YgwEYxwEYsQMY0QMYgAQyDQgCEAAYgwEYsQMYgAQyBggDEEUYQDIGCAQQRRg5MgYIBRBFGDwyBggGEEUYPDIGCAcQRRg80gEHOTcwajBqN6gCCLACAfEF0lOT_OO1xHg&sourceid=chrome&ie=UTF-8">Google</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <section>
        <p>Lista ordenada</p>
        <ol>
            <li>Perro</li>
            <li>Gato</li>
            <li>Vaca</li>
        </ol>
    </section>
    <section>
        <p>Lista desordenada</p>
        <ul>
            <li>Perro</li>
            <li>Gato</li>
            <li>Vaca</li>
        </ul>
    </section>
    <section>
        <p>Lista de definicion</p>
        <dl>
            <dt>Animales Terrestres</dt>
            <dd>Perro</dd>
            <dd>Gato</dd>
            <dd>Vaca</dd>
            <dt>Animales Acuáticos</dt>
            <dd>Tiburón</dd>
            <dd>Pez</dd>
            <dd>Delfin</dd>
        </dl>
    </section>
    <section>
        <p>Lista dependiente</p>
        <ul>
            <li>Perro</li>
            <li>Gato</li>
            <li>Vaca</li>
            <ul>
                <li>Tiburon</li>
                <li>pez</li>
                <li>delfin</li>
            </ul>
        </ul>
    </section>
    </main>

    <footer></footer>
</body>

</html>