<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../img/UTN_logo-removebg-preview (1).ico">
</head>

<body>
    <header></header>
    <main>
        <section>
            <div>
                <audio src="../audio/Ariana Grande - intro (end of the world) (lyric visualizer).mp3" controls></audio>
            </div>
            <div>
                <video src="../audio/Wish You Were Here.mp4" controls height="500px"
                    width="500px"></video>
            </div>
        </section>
        <section>
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8676620161964!2d-60.64381900000001!3d-32.95450319999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses-419!2sar!4v1742450460423!5m2!1ses-419!2sar"  width="600" height="450" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">Mapa Utn</iframe></div>
            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/p7jATa6Soag?si=VA0ioBQ7x03Buq8Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        </section>
        <section>
            <table border="1">
                <tr>
                    <th>artista</th>
                    <th>grammys</th>
                </tr>
                <tr>
                    <td>Lady gaga</td>
                    <td> 14</td>
                </tr>
                <tr>
                    <td>bruno mars</td>
                    <td>15</td>
                </tr>
            </table>
        </section>
    </main>
    <footer></footer>
</body>

</html>