<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galeria</a></li>
                <li><a href="#">Tabla</a></li>
                <li><a href="./lista.html">Lista</a></li>
                <li><a href="https://www.google.com/search?q=google&oq=googl&gs_lcrp=EgZjaHJvbWUqEAgAEAAYgwEY4wIYsQMYgAQyEAgAEAAYgwEY4wIYsQMYgAQyEwgBEC4YgwEYxwEYsQMY0QMYgAQyDQgCEAAYgwEYsQMYgAQyBggDEEUYQDIGCAQQRRg5MgYIBRBFGDwyBggGEEUYPDIGCAcQRRg80gEHOTcwajBqN6gCCLACAfEF0lOT_OO1xHg&sourceid=chrome&ie=UTF-8">Google</a></li>
            </ul>
        </nav>
    </header>
    <main>

        

    </main>

    <footer></footer>
</body>

</html>